<h1>BMI Calc</h1>
<form method="post" action="/bmi">
  <div class="mb-3">
    <label for="height" class="form-label">Height (inches) </label>
    <input type="number" name="height" step="any" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="weight" class="form-label">Weight (lb) </label>
    <input type="number" name="weight" step="any" class="form-control" />
  </div>
  <input class="btn btn-outline-primary" type="submit" />
</form>