<h1> Distance </h1>
<form method="post" action="/dist">
    x <input type="number" name="coordx" required>
    <br>
    y <input type="number" name="coordy" required>
    <br>
    z <input type="number" name="coordz" required>
    <input type="submit">
</form>